page-drink {
    .card {
        margin: -5px 0px 0px 4px;
        width: 100%;
        padding :3px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold
    }
    .backgroundColorPage{
        background-color: #2c1656
    }
    .backgroundColorCard{
        background-color: #ebebeb
    }
}

